
* {
    margin:0;
    padding:0;
    }

    p{
        text-align: justify;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:dimgray;
    }
    #columna1 {
        position:absolute;
        top:20px;
        left:250px;
        width:250px;
        margin-top:10px;
        background-color:white;    
    }
    #columna2 {
        position:relative;
        margin-left:530px;
        margin-right:10px;
        margin-top:20px;
        width:650px;
        background-color:white;
    }
        
    h2,h3{
        background-color: rgb(61, 73, 73);
        text-align: center;
        color:white;
    }
    h2{
        border-top: 2px double  crimson;
        font-family:Verdana;
        font-weight:lighter;
    }

    h3{
        font-family:Candara;
        font-weight:lighter;
    }

    .foto{
        width: 80%;
        height:200px;
        margin:10px auto;
	    display:block;
    
    }    

    .datos{
        background-color: white;
        color: black;
    }

    #img{
        position:relative;
        max-width:100%;
        max-height:180%;
        
    }
    #telefono,#mensaje,#direccion{
        width: 40px;
    }

    table{
        background-color: rgb(61, 73, 73);
        color:white;
       
    }
    #col1{
       width: 50px;
    }
    #col2{
        width: 250px;
        text-align: center;
        border: solid 3px black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
   
    #dato{
        width: 180px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align:justify;
        color:dimgray;
        font-size:10px ;
    }
    

    #dato2{
        width: 20px;
        color:dimgray;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size:15px ;
    }

    #barra{
        width: 247px;
        height: 20px;
    }
    #hab1{
        color:brown;
    }
    #dato4{
        width: 300px;
        text-align:justify;
        color:dimgray;
    }
        
    #imgexp,#imgest,#imgref{
        position:relative;
        max-width:80%;
        max-height:180%; 
    }
    
    #col3{
        width: 480px;
        text-align: center;
        border: solid 3px black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #col4,#exp,#est,#ref{
        text-align:left;
        width: 540px;
        background-color: white;
        color: black;
    }
    #col5{
        text-align:right;
        width: 100px;
        background-color: white;
        color: brown
    }
    
    #txtexp, #txtest, #txtcert{
        font-size: small;
        width: 5px;;
        text-align: justify;
        background-color: white;
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:dimgray;
       
    }

    #imgcert{
        position:relative;
        max-width:35px;
        max-height:70px;
        
    }

    #cert{
        text-align:left;
        width: 540px;
        background-color: white;
        color: black;
    }
    

    #col8,#col9{
        width:230px;
    }

    #imghv {
        margin: 10px auto;
        display: block;

    }

   .centrado{
        text-align: center;
   }

    #texto,#texto1,#texto2,#texto3{
    display:none;
    }

    #contenedor{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(), rgb(45deg, #0faac5,#770c77) ;
    }

    #txt{
        background: linear-gradient();
    }

    #btn-color{
        background-color: aqua;
        color: blue;
        margin-top: 10px;
        padding: 20px;
        border-radius:20px;
        font-weight: bold;
    }